You are upgrading to {{plan.name}}. This will cost ${{plan.fee}} per month.
<div [hidden]="confirmUpgrade" class="confirm-dialogue">
    <button id="cancelButton" mat-flat-button color="warn" (click)="closeDialogue()">Cancel</button>
    <button id="confirmButton" mat-flat-button color="primary" (click)="upgrade()">Confirm</button>
</div>

<div [hidden]="!confirmUpgrade">
    Please click on the link below to finilaze your new subscription.
    <br>
    <a *ngIf="planUpgrade?.hasOwnProperty('shopifyRegistrationUrl')" href="{{planUpgrade.shopifyRegistrationUrl}}">
        {{planUpgrade.shopifyRegistrationUrl}}</a>
</div>