<div id="text" *ngIf="content">
    {{content.msg}}
</div>
<button id="cancelButton" [hidden]="content.type==1" mat-flat-button color="warn"
    [mat-dialog-close]="false">Cancel</button>
<button id="confirmButton" [hidden]="content.type==1" mat-flat-button color="primary"
    [mat-dialog-close]="true">Confirm</button>
<button id="confirmButton" [hidden]="content.type==0" mat-flat-button color="primary"
    [mat-dialog-close]="true">Ok</button>
<button id="cancelButton" [hidden]="content.type==0" mat-flat-button color="accent" [mat-dialog-close]="true">Upgrade
    now</button>