mat-form-field{
    display:block;
}

table{
    margin:30px 40px 25px 40px;
}

mat-card{
    margin:8px;
}

mat-panel-title{
    font-style: bold;
    font-size: large;
}

textarea{
    width:90%;
    height:50px;
    font-size: large;
    margin:10px 5% 10px 5%;
}

.buttonCancel{
    float: left;
    width: 30%;
    margin:12px 20px 20px 10%;
}
.buttonConfirm{
    float: right;
    width: 30%;
    margin:12px 10% 20px 20px;
}
.buttonArea{

}

.input-div{
    margin:25px 10px 25px 10px;
    clear: both;
}
mat-slide-toggle{
    margin:10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#createButton{
    float:right;
    margin-top: 5px;
}
#divider{
    margin:10px;
    clear:both;
}