mat-form-field{
    display:block;
}

table{
    margin:30px 40px 25px 40px;
}

mat-card{
    margin:8px;
}

mat-panel-title{
    font-style: bold;
    font-size: large;
}

textarea{
    width:90%;
    height:50px;
    font-size: large;
    margin:10px 5% 10px 5%;
}

.buttonCancel{
    float: right;
    
    margin:12px 20px 20px 20px;
}
.buttonConfirm{
    float: right;
    
    margin: 12px 20px 20px 20px;
}

.createButton{
    margin: 12px 20px 20px 20px;
}

.configToggle{
    margin-left: 40px;
}
.buttonArea{

}

.input-div{
    margin:25px 10px 25px 10px;
    clear: both;
}
mat-slide-toggle{
    margin:10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#createButton{
    float:right;
    margin-top: 5px;
}
#divider{
    margin:10px;
    clear:both;
}

#refreshButton{
    width:10%;
    margin: 20px 1% 20px 5%;
}

#statsTable{
    margin: 30px 40px 25px 40px;
}

.subscriberTableHeader{
    font-size: 12px !important;
    font-weight: 500 !important;
    color:rgba(0,0,0,.54) !important;
    padding-left: 20px;
    text-align: left;
}