mat-form-field{
    display:block;
}

table{
    margin:30px 40px 25px 40px;
}

mat-card{
    margin:8px;
}

mat-panel-title{
    font-style: bold;
    font-size: large;
}

textarea{
    width:100%;
    height:50px;
    font-size: large;
    margin:8px;
}

.button{
    display: inline;
    width: -webkit-fill-available;
    max-width: 300px;
    margin:12px 70px 20px 70px;
}

.input-div{
    margin:25px 10px 25px 10px
}
mat-slide-toggle{
    margin:10px;
}

.opened{
    background: darkgray;
}

.closed{
}