<div class="input-div"><button class="refreshPage" mat-icon-button color="primary" (click)="refresh()"><span
      class="material-icons">
      refresh
    </span></button>
</div>

<div class="input-div" *ngIf="shop_stats.currentBillingPeriod">
  <mat-toolbar>
    <span> Shop Statistics - {{shop_stats.month}}</span>
  </mat-toolbar>

  <table class="statsTable mat-table cdk-table mat-sort mat-elevation-z8 example-container ng-star-inserted">
    <tr>
      <th class="mat-header-row cdk-header-row ng-star-inserted"></th>
      <th
        class="stat-row-one mat-sort-header  cdk-header-cell ng-tns-c179-43 cdk-column-name mat-column-name ng-star-inserted">
        <b _ngcontent-bkn-c189="" class="ng-tns-c179-45">This Month</b></th>
      <th
        class="stat-row-one mat-sort-header  cdk-header-cell ng-tns-c179-43 cdk-column-name mat-column-name ng-star-inserted">
        <b _ngcontent-bkn-c189="" class="ng-tns-c179-45">Last Month</b></th>
    </tr>

    <tr class="  mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
      <td class="stat-row-one">Outbound Customer Messages</td>
      <td class="stat-row">{{shop_stats.current.outboundCustomerMessages}}</td>
      <td class="stat-row">{{shop_stats.previous.outboundCustomerMessages}}</td>
    </tr>
    <tr class=" mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
      <td class="stat-row-one">Inbound Customer Messages</td>
      <td class="stat-row">{{shop_stats.current.inboundCustomerMessages}}</td>
      <td class="stat-row">{{shop_stats.previous.inboundCustomerMessages}}</td>
    </tr>
    <tr class="  mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
      <td class="stat-row-one">Forwarded Messages</td>
      <td class="stat-row">{{shop_stats.current.forwardedMessages}}</td>
      <td class="stat-row">{{shop_stats.previous.forwardedMessages}}</td>
    </tr>
    <tr class=" mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
      <td class="stat-row-one">Orders Managed</td>
      <td class="stat-row">{{shop_stats.current.ordersManaged}}</td>
      <td class="stat-row">{{shop_stats.previous.ordersManaged}}</td>
    </tr>
  </table>

</div>
<div id="divider"></div>

<div class="input-div">
  <mat-toolbar>
    <span> Automated Notifications</span>
  </mat-toolbar>
  <div class="section-header">
    <p>
      Curbby can automatically notify your customers when their order status changes
    </p>
  </div>
  <mat-slide-toggle [(ngModel)]="shop_details.autoConfirmOrders" (click)="updateShopDetails()" *ngIf="shop_details"
    class="configToggle">Enable automated
    order confirmation notifications</mat-slide-toggle>
  <div [hidden]="!shop_details.autoConfirmOrders" *ngIf="orderConfirm">
    <textarea class="text-field" [(ngModel)]="orderConfirm.tempBody"></textarea>
    <div id="buttonArea">
      <button [disabled]="orderConfirm.tempBody === orderConfirm.body" class="buttonConfirm" mat-flat-button
        color="primary" (click)="saveConfirm()">Save</button>
      <button [disabled]="orderConfirm.tempBody === orderConfirm.body" class="buttonCancel" mat-flat-button color="warn"
        (click)="cancelConfirm()">Revert</button>


    </div>
  </div>
</div>
<div class="input-div">
  <mat-slide-toggle [(ngModel)]="shop_details.autoReadyForPickup" (click)="updateShopDetails()" *ngIf="shop_details"
    class="configToggle">
    Enabled automated notification when order status is updated to "Ready for Pickup"</mat-slide-toggle>
  <div [hidden]="!shop_details.autoReadyForPickup" *ngIf="orderRdy">

    <textarea class="text-field" [(ngModel)]="orderRdy.tempBody"></textarea>
    <div>

      <button [disabled]="orderRdy.tempBody === orderRdy.body" class="buttonConfirm" mat-flat-button color="primary"
        (click)="saveRdy()">Save</button>
      <button [disabled]="orderRdy.tempBody === orderRdy.body" class="buttonCancel" mat-flat-button color="warn"
        (click)="cancelRdy()">Revert</button>

    </div>
  </div>
  <div id="divider"></div>
</div>
<div id="divider"></div>
<div class="input-div">
  <mat-toolbar>
    <span> Subscriber Management</span>
  </mat-toolbar>
  <div class="section-header">
    <p>
      Add your team members as subscribers to ensure they are notified when a customer message is received
    </p>
  </div>
  <mat-slide-toggle [(ngModel)]="shop_details.forwardCustomerMessages" (click)="updateShopDetails()"
    class="configToggle" *ngIf="shop_details">Forward customer messages</mat-slide-toggle>

  <button id="createButton" class="createButton" mat-flat-button color="primary" (click)="create()"><span
      class="material-icons">
      person_add
    </span>&nbsp;&nbsp;New
    Subscriber</button>

  <table mat-table [dataSource]="dataSourceSubs" *ngIf="server.subscriber_data?.length > 0"
    class="mat-elevation-z8 example-container subscriberTable">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header class="subscriberTableHeader"> <B>Name</B> </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header class="subscriberTableHeader"> <B>Active</B> </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [(ngModel)]="element.active" (click)="updateSubscriber(element)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th *matHeaderCellDef mat-header class="subscriberTableHeader"> <B>Phone</B> </th>
      <td mat-cell *matCellDef="let element"> {{element.phone | phoneFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="openModal(element)">Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="delete(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSubs"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSubs;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>