<div class="input-div"><button class="refreshPage" mat-icon-button color="primary" (click)="refresh()"><span
      class="material-icons">
      refresh
    </span></button>
</div>

<div class="input-div">
  <mat-toolbar>
    <span> Shop Statistics</span>
  </mat-toolbar>
  <mat-progress-spinner [hidden]="dataSource?.length > 0" [mode]="'indeterminate'"></mat-progress-spinner>
  <table id="statsTable" [hidden]="dataSource?.length <= 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="current">
      <th mat-header-cell *matHeaderCellDef> This Month </th>
      <td mat-cell *matCellDef="let element"> {{element.current}} </td>
    </ng-container>

    <ng-container matColumnDef="last">
      <th mat-header-cell *matHeaderCellDef> Last Month </th>
      <td mat-cell *matCellDef="let element"> {{element.last}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div id="divider"></div>

<div class="input-div">
  <mat-toolbar>
    <span> Automated Notifications</span>
  </mat-toolbar>
  <div class="section-header">
    <p>
      Curbby can automatically notify your customers when their order status changes
    </p>
  </div>
  <mat-slide-toggle [(ngModel)]="shop_details.autoConfirmOrders" (click)="updateShopDetails()" *ngIf="shop_details"
    class="configToggle">Enable automated
    order confirmation notifications</mat-slide-toggle>
  <div [hidden]="!shop_details.autoConfirmOrders" *ngIf="orderConfirm">
    <textarea class="text-field" [(ngModel)]="orderConfirm.tempBody"></textarea>
    <div id="buttonArea">
      <button [style.visibility]="orderConfirm.tempBody === orderConfirm.body ? 'hidden' : 'visible'" class="buttonConfirm" mat-flat-button color="primary" (click)="saveConfirm()">Save</button>
      <button [style.visibility]="orderConfirm.tempBody === orderConfirm.body ? 'hidden' : 'visible'" class="buttonCancel"
        mat-flat-button color="warn" (click)="cancelConfirm()">Revert</button>

    </div>
  </div>
</div>
<div class="input-div">
  <mat-slide-toggle [(ngModel)]="shop_details.autoReadyForPickup" (click)="updateShopDetails()" *ngIf="shop_details"
    class="configToggle">
    Enable automated notification when orders are updated to ready for pickup</mat-slide-toggle>
  <div [hidden]="!shop_details.autoReadyForPickup" *ngIf="orderRdy">

    <textarea class="text-field" [(ngModel)]="orderRdy.tempBody"></textarea>
    <div>
      <button [style.visibility]="orderRdy.tempBody === orderRdy.body ? 'hidden' : 'visible'" class="buttonConfirm" mat-flat-button color="primary" (click)="saveRdy()">Save</button>
      <button [style.visibility]="orderRdy.tempBody === orderRdy.body ? 'hidden' : 'visible'" class="buttonCancel" mat-flat-button
        color="warn" (click)="cancelRdy()">Revert</button>

    </div>
  </div>
  <div id="divider"></div>
</div>
<div id="divider"></div>
<div class="input-div">
  <mat-toolbar>
    <span> Subscriber Management</span>
  </mat-toolbar>
  <div class="section-header">
    <p>
      Add your team members as subscribers here and Curbby will ensure they all get notified when you recieve a customer
      message
    </p>
  </div>
  <mat-slide-toggle [(ngModel)]="shop_details.forwardCustomerMessages" (click)="updateShopDetails()"
    class="configToggle" *ngIf="shop_details">Forward Customer Messages</mat-slide-toggle>

  <button id="createButton" class="createButton" mat-flat-button color="primary" (click)="create()"><span
      class="material-icons">
      person_add
    </span>&nbsp;&nbsp;New
    Subscriber</button>

  <table mat-table [dataSource]="dataSourceSubs" matSort *ngIf="server.subscriber_data?.length > 0"
    class="mat-elevation-z8 example-container">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <B>Name</B> </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <B>Active</B> </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [(ngModel)]="element.active" (click)="updateSubscriber(element)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <B>Phone</B> </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="openModal(element)">Edit</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="delete(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSubs"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSubs;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>