#conversation{
    margin: 0px;
    float:left;
    overflow-y: auto;
    height: 200px;
    padding: 5px;
    width: 100%;
    
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

#closeButton{
    float:right;
}

#closeButton span{
padding-top:0px;
padding-left:0px;
}

.chat-header{
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:15px;
    font-weight: 500;
    float: left;
    margin: 12px;
    text-align: left;
}

.chat-header p{
    margin:0px !important;
}

#header{
    height: 50px;   
    
    top: 15%;
    left: 10%;
    background: white;
    z-index: 1;
    text-align: center;
}

#buffer{
    height: 10px;
}

#replyArea{
    height: 15%;        
    bottom: 15%;
    left: 10%;
    background: white;
    padding-top:20px;
    
}

#reply{
    float:left;
    width: 85%;    
    resize: vertical;    
    height:22px;
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:14px;
    margin-left: 0px;
    margin-right: 0px;   
    resize: none; 
    margin-top: 12.5px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #673ab7;
}

#replyArea .mat-form-field{
    width:85%;
}


#sendButton{
    
    margin-top:15px;
    float: right;
    margin-right: 16px;
    color:#673ab7;
    background-color: white;
    padding:0px;
    margin:0px;
}

.customer2{
    background: #99d2f3;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;    
    float:left;
}
.customer{
    background: #99d2f3;
    float: left;
}


.system2{
    background: #f9ad88;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.system{
    background: #673ab7;
    color:white;
    float: right;
}

.employee{
    background: #855bcf;
    color:white;
    float: right;    
    
}

.employee2{
    background: #b1adef;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.employee-pending2{
    background: #ffa69d;
    float: right;    
    
}


.employee-pending{
    background: darkgray;
    color:white;
    float: right;           
}


.forward{
    display:none;
}

.speech-bubble{
    margin-bottom: 0px;
    max-width: 70%;
    min-height: 15px;    
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    clear: both;    
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 20px 20px 20px 20px;
    border:0px;
}


li {
    border: 1px solid black;
    list-style-type: none;
    margin: 2px 0;
    padding: 2px 5px;
  }
  .him {
    float: left;
    border-radius: 0 10px 10px 0;
    clear: both;
  }
  .me {
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
  }
  .him.start {
    border-top-left-radius: 10px;  
  }
  .him.end {
    border-bottom-left-radius: 10px;  
  }
  .me.start {
    border-top-right-radius: 10px;  
  }
  .me.end {
    border-bottom-right-radius: 10px;  
  }

  .message-window{
      width:450px;
      height:300px;
  }

  

.scrollbar {
    height: inherit;
}
.force-overflow {
    min-height: 300px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#673ab7; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #673ab7; 
}

.timestamp{
    background: white;
    color:grey;
    float: center;
    border-radius: 20px 20px 20px 20px;
    clear: both;
    padding:7px;
    border:0px;
    width:100%;
    text-align: center;
    max-width:98%;
    border-bottom: 2px grey !important;
    font-size:12px;    
}

.material-icons{
    font-size: 30px;
    padding-top:6px;
    padding-left: 20px;
}

.reply-area{
    width: 80%;
}

.mat-dialog-container{
    padding-top: 10px !important;
}