mat-panel-title{
    max-width:200px;
}

mat-checkbox{
    margin-right: 10px;    
}

button{
    margin: 10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#buttons{
    margin-bottom: 20px;
}

textarea{
    width: 95%;
    height: 50px;
    font-size: large;
    margin: 10px 0% 10px 20px;
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:16px
}

.tab_buton{
    display:inline-block;
    margin: 10px;
    width: 250px;
}

.phoneInput{
    width: 140px;
}

.invalidPhoneInput{
    width: 140px;
    background-color: indianred;
}

.phoneColumn{
    margin-right:20px;
}

#filter{    
    width: 95%;
    margin: 20px 0px 10px 30px;
}

#refreshButton{
    display: inline-flex;
    width:10%;
    margin: 10px 1% 10px 3%;
}

.newMessage{

}

.oldMessage{
    background: darkgray;
}

.statusSelect{
    width:125px;
}

.unreadFilter{
    float: right;
    padding-top: 15px;
    margin-right:100px;
    width:500px;    
}

.mat-slide-toggle{
    max-width:none !important;
}

.mass-button{
    margin-left:20px;
}

#messages{
    width: 94%;
    margin-left: 20px;
}

#buttonArea
{
    float:right
}

.filter-button{
    width:98%
}