<div class="header-div">
    Order Communications
    <button class="refreshPage" mat-icon-button color="primary" (click)="refresh()"><span class="material-icons">
            refresh
        </span>
    </button>
</div>

<div>
    <mat-accordion>
        <mat-expansion-panel id="filter" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            #mep="matExpansionPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Filter options</b>

                </mat-panel-title>

                <mat-panel-description>
                    <span *ngIf="labelFilterString.length > 0 && labelFilterString!='.'"><b>Contains</b>
                        {{labelFilterString}} &nbsp;</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-dialog-content [formGroup]="filterForm">
                <div class="section-header">
                    <p>
                        You may filter on any column using the field below. This includes order #, status, customer
                        phone
                        number, etc.
                    </p>
                </div>

                <mat-form-field class="dialog-input">
                    <input matInput placeholder="Filter on order content" (keyup)="applyFilter($event)"
                        [(ngModel)]="filterText" formControlName="label">
                </mat-form-field>
                <button class="mat-button filter-button" (click)="clearSearch()">Clear</button>
                <button class="mat-button filter-button" (click)="panelOpenState = false"
                    (click)="mep.expanded = false;">Close</button>
            </mat-dialog-content>
        </mat-expansion-panel>
    </mat-accordion>



</div>
<div class="input-div">
    <div id="buttons">
        <button [ngClass]="openMassMessage ? 'opened' : 'closed'" mat-flat-button color="primary"
            (click)="toggleMessageDiv()" class="mass-button"> <span class="material-icons">
                message
            </span> &nbsp;&nbsp; Mass Message</button>
        <button mat-flat-button color="primary" (click)="changeStatus(2)" class="mass-button"><span
                class="material-icons">
                flag
            </span> &nbsp;&nbsp; Completed</button>
        <button mat-flat-button color="primary" (click)="changeStatus(1)" class="mass-button"><span
                class="material-icons">
                flag
            </span> &nbsp;&nbsp; Ready for
            Pickup</button>
        <button mat-flat-button color="primary" (click)="changeStatus(3)" class="mass-button"><span
                class="material-icons">
                flag
            </span> &nbsp;&nbsp; Cancelled</button>
    </div>
    <mat-card id="messages" [hidden]="!openMassMessage">
        <mat-tab-group *ngIf="openMassMessage" animationDuration="0ms" class="example-headers-align"
            [(selectedIndex)]="messageTemplateSelected">
            <mat-tab label="{{template.name}}" *ngFor="let template of templates;let index = index;">
                <textarea [(ngModel)]="templates[index].tempBody"></textarea>
                <div id="buttonArea">
                    <button class="buttonClose" mat-flat-button color="warn" (click)="toggleMessageDiv()">Close</button>

                    <button class="buttonConfirm" mat-flat-button color="primary" (click)="massMessage()">
                        <span class="material-icons">
                            mail
                        </span>&nbsp;&nbsp; Send</button>
                    <button class="buttonRevert" mat-flat-button color="primary"
                        (click)="cancel(template)">Revert</button>

                </div>

            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <div class="section-header">
        <button class="buttonDeselectAll" mat-flat-button color="primary" (click)="deselectAll()">Deselect All</button>
        <!--p class="tableDesc">
            Select records below to perform batch sends or status updates.
            <br>
            Changes made in the table are saved in real time.
        </p-->
        <mat-slide-toggle [(ngModel)]="filterNewMessages" (click)="filterUnread()" class="configToggle">
        </mat-slide-toggle>
        <p>
            Show only unread messages
        </p>
    </div>
    <div class="section-header">
        <mat-dialog-content [formGroup]="filterForm" class="search-field order-form">
            <mat-form-field class="dialog-input">
                <mat-label>Type here to start filtering</mat-label>
                <span matPrefix><span class="material-icons ">
                        search
                    </span> &nbsp;</span>
                <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterText" formControlName="label">
            </mat-form-field>
        </mat-dialog-content>
        <mat-form-field class="dialog-select order-form">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="statusUpdate()" [formControl]="statusListFC" multiple>
                <mat-option *ngFor="let status of statuses"  [(value)]="selectedStatus">{{status.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="dialog-select order-form">
            <mat-label>Location</mat-label>
            <mat-select [formControl]="locationListFC" multiple>
                <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="example-spacer"></span>

        <mat-slide-toggle [(ngModel)]="filterNewMessages" (click)="filterUnread()" class="configToggle order-form">
            Unread only
        </mat-slide-toggle>

    </div>
</div>

<table mat-table [dataSource]="dataSource" *ngIf="server.order_data?.length > 0"
    class="mat-elevation-z8 example-container curbby-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef mat-header>
            <mat-checkbox [indeterminate]="1" (click)="deselectAll()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.selected"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="shopifyOrderNumber">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Order #</B> </th>
        <td mat-cell *matCellDef="let element"> {{element.shopifyOrderNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Order Date</B> </th>
        <td mat-cell *matCellDef="let element"> {{element.created | date:'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Status</B> </th>
        <td mat-cell *matCellDef="let element">
            <mat-select [(value)]="element.status" (selectionChange)="onChange(element)" class="statusSelect">
                <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
            </mat-select>
        </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Phone Number</B> </th>
        <td mat-cell *matCellDef="let element" class="phoneInput">
            <mat-form-field>
                <input matInput maxlength="16" [formControl]="element.phoneFormControl"
                    [ngModel]="element.phone | phoneFormat" (ngModelChange)="updatePhoneField(element,$event)"
                    (keyup)="validatePhone(element)" (change)="onChange(element)">
                <mat-error *ngIf="element.phoneFormControl.hasError('invalidPhone')">
                    Please enter a valid phone number
                </mat-error>
                <mat-error *ngIf="element.phoneFormControl.hasError('required')">
                    Phone is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="lastMessage">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Last Message</B> </th>
        <td mat-cell *matCellDef="let element"> {{element?.conversation?.lastInbound | date:'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Customer Name</B> </th>
        <td mat-cell *matCellDef="let element"> {{element.customer?.first_name}} {{element.customer?.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-header> <B>Pickup Location</B> </th>
        <td mat-cell *matCellDef="let element"> {{element.pickupLocation.code}} </td>
    </ng-container>

    <ng-container matColumnDef="messages">
        <th mat-header-cell *matHeaderCellDef mat-header> </th>
        <td mat-cell *matCellDef="let element">
            <button [ngClass]="element.newMessageAvaliable ? 'newMessage' : 'oldMessage'" mat-flat-button
                color="primary" (click)="openConversation(element)" matBadge="!" matBadgePosition="after"
                matBadgeColor="accent" [matBadgeHidden]="!element.newMessageAvaliable" class="row-button"
                MatBadgeSize='small'>

                <span class="material-icons">
                    message
                </span></button>
        </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-header> </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="openDetails(element)" mat-flat-button color="primary" class="row-button table-button">

                <span class="material-icons">
                    info
                </span></button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>