mat-panel-title{
    max-width:200px;
}

mat-checkbox{
    margin-right: 10px;    
}

button{
    margin: 10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#buttons{
    margin-bottom: 20px;
}

.buttonClose{
    float:left;
    margin-left: 30px;
    min-width: 100px;
}
.buttonRevert{
    float:right;
    margin-right: 35px;
    min-width: 90px;
}
.buttonConfirm{
    float:right;
    margin-right: 28px;
    min-width: 90px;
}

textarea{
    width: 95%;
    height: 50px;
    font-size: large;
    margin: 10px 28px 10px 20px;
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:16px

}

.tab_buton{
    display:inline-block;
    margin: 10px;
    width: 250px;
}

.phoneInput{
    width: 140px;
}

.invalidPhoneInput{
    width: 140px;
    background-color: indianred;
}

.phoneColumn{
    margin-right:20px;
}

#filter{    
    width: 95%;
    margin: 20px 0px 10px 30px;
}

#refreshButton{
    display: inline-flex;
    width:10%;
    margin: 10px 1% 10px 3%;
}

.newMessage{

}

.oldMessage{
    background: darkgray;
}

.statusSelect{
    width:125px;
}

.tableDesc{
    text-align: center;
    width: inherit;
}

.section-header{
    width: 100%;
    display:inline-flex;
}

.buttonDeselectAll{
    min-width: 85px;
    padding: 0px;
    height: 45px;
    margin-top: 13px;
}

.configToggle{
    margin:20px;
}

.mat-slide-toggle{
    max-width:none !important;
}

.mass-button{
    margin-left:20px;
}

#messages{
    width: 94%;
    margin-left: 20px;
}

#buttonArea
{
    width:100%
}

.filter-button{
    width:98%
}

