mat-panel-title{
    max-width:200px;
}

mat-checkbox{
    margin-right: 10px;    
}

button{
    margin: 10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#buttons{
    margin-bottom: 20px;
}

textarea{
    width:90%;
    height:50px;
    font-size: large;
    margin:8px;
}

.tab_buton{
    display:inline-block;
    margin: 10px;
    width: 250px;
}

.phoneInput{
    width: 100px;
}

.phoneColumn{
    margin-right:20px;
}

#filter{
    display: inline-flex;
    width:80%;
    margin: 10px 5% 10px 1%;
}

#refreshButton{
    display: inline-flex;
    width:10%;
    margin: 10px 1% 10px 3%;
}

.newMessage{

}

.oldMessage{
    background: darkgray;
}