mat-panel-title{
    max-width:200px;
}

mat-checkbox{
    margin-right: 10px;    
}

button{
    margin: 10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#buttons{
    margin-bottom: 20px;
}

textarea{
    width:90%;
    height:50px;
    font-size: large;
    margin:8px;
}

.tab_buton{
    display:inline-block;
    margin: 10px;
    width: 250px;
}