mat-panel-title{
    max-width:200px;
}

mat-checkbox{
    margin-right: 10px;    
}

button{
    margin: 10px;
}

.opened{
    background: darkgray;
}

.closed{
}

#buttons{
    margin-bottom: 20px;
}

.buttonClose{
    float:left;
    margin-left: 30px;
    min-width: 100px;
}
.buttonRevert{
    float:right;
    margin-right: 35px;
    min-width: 90px;
}
.buttonConfirm{
    float:right;
    margin-right: 28px;
    min-width: 90px;
}

textarea{
    width: 95%;
    height: 50px;
    font-size: large;
    margin: 10px 28px 10px 20px;
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:16px
}

.tab_buton{
    display:inline-block;
    margin: 10px;
    width: 250px;
}

.phoneInput{
    width: 120px;
    font-size:11.5px !important;
    margin:0px !important;
}

.phoneInput .mat-form-field{
    width: 100px !important;    
    max-height: 40px;
}

.phoneInput .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border:0px !important;
}

.phoneColumn{
    margin-right:20px;
}

#filter{    
    width: 95%;
    margin: 20px 0px 10px 30px;
}

#refreshButton{
    display: inline-flex;
    width:10%;
    margin: 10px 1% 10px 3%;
}

.newMessage{
    background: white;
    color:#673ab7;
}

.oldMessage{
    background: white;
    color:darkgray;
}

.statusSelect{
    width:105px;
}

.tableDesc{
    text-align: center;
    width: inherit;
}

.section-header{
    width: 100%;
    display:inline-flex;
}

.buttonDeselectAll{
    min-width: 85px;
    padding: 0px;
    height: 45px;
    margin-top: 13px;
}

.configToggle{
    margin:20px;
}

.mat-slide-toggle{
    max-width:none !important;
}

.mass-button{
    margin-left:20px;
}

#messages{
    width: 94%;
    margin-left: 20px;
}

#buttonArea
{
    width:100%
}

.filter-button{
    width:44%
}

.graph{
    height: 370px; 
    width: 48%; 
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}

.mat-header-cell{
    font-size:11.5px !important;    
}

.mat-cell{
    font-size:11.5px !important;
    max-height:40px;
    margin:0px;
}

.mat-header-row{
    height:30px !important;
}

.mat-row{
    height:30px !important;
}

.row-button {
    min-width:40px;
    padding:0px;
    margin:0px;
}

.table-button{
    background: white;
    color:#673ab7;
}

.search-field{
    width: 38%;
    padding-left: 20px;
}

.dialog-select{
    width: 23%;
    padding-left:20px;
}

.order-form{
    font-size:14px;
}
.newMessage.mat-badge-content{
    top: 0px !important;
}

.mat-dialog-container{
    padding-top: 10px !important;
}

.country-flag{
    width:15px;
    height:15px;
}
.flag-select{
    width: 40px;
    height: 20px;
}

.close-button{
    margin:0px;
}