<div class="input-div"><button class="refreshPage" mat-icon-button color="primary" (click)="refresh()"><span
      class="material-icons">
      refresh
    </span></button>
</div>
<div class="input-div">
  <mat-toolbar>
    Message Templates


    <span class="fill-space"></span>

    <button class="" mat-icon-button [hidden]="someExpanded" (click)="expandAll()"><span class="material-icons">unfold_more</span></button>
    <button class="" mat-icon-button [hidden]="!someExpanded" (click)="collapseAll()"><span class="material-icons">unfold_less</span></button>
  </mat-toolbar>
  <mat-accordion [multi]="true" #accordion *ngFor="let template of templates;let index = index;">
    <mat-expansion-panel (opened)="openCheck(template)" (closed)="checkAllClosed(template)" [hidden]="template.name=='Other'" class="example-headers-align">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{template.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <textarea class="text-field" [(ngModel)]="templates[index].tempBody"></textarea>
      <button [disabled]="templates[index].tempBody === templates[index].body" class="button" mat-flat-button color="primary" (click)="save(template)">Save</button>
      <button [disabled]="templates[index].tempBody === templates[index].body" class="button"
        mat-flat-button color="warn" (click)="cancel(template)">Revert</button>



    </mat-expansion-panel>
  </mat-accordion>
</div>