.button{
    margin: 12px 20px 20px 20px;
    float:right;
}

mat-panel-title{
    font-style: bold;
    font-size: large;
}

textarea{
    width:95% !important;
    height:50px;
    font-size: large;
    margin:8px;
}

.opened{
    background: darkgray;
}

.closed{
}

.example-headers-align{
    margin: 5px !important;
}

.fill-space {

    flex: 1 1 auto;
  }