.button{
    display: inline;
    width: -webkit-fill-available;
    max-width: 300px;
    margin:12px 70px 20px 70px;
}

mat-panel-title{
    font-style: bold;
    font-size: large;
}

textarea{
    width:100%;
    height:50px;
    font-size: large;
    margin:8px;
}