<div class="header-div">
    Current Plan: {{details?.billing_plan?.name}}
    <button class="refreshPage" mat-icon-button color="primary" (click)="refreshShopDetails()"><span
            class="material-icons">
            refresh
        </span>
    </button>
</div>
<div class="input-div" *ngIf="shop_stats.currentBillingPeriod">
    <table class="statsTable mat-table cdk-table mat-sort mat-elevation-z8 example-container ng-star-inserted">
        <tr>
            <th class="mat-header-row cdk-header-row ng-star-inserted"></th>
            <th
                class="stat-row-one mat-sort-header  cdk-header-cell ng-tns-c179-43 cdk-column-name mat-column-name ng-star-inserted">
                <b _ngcontent-bkn-c189="" class="ng-tns-c179-45">This Period</b></th>
            <th
                class="stat-row-one mat-sort-header  cdk-header-cell ng-tns-c179-43 cdk-column-name mat-column-name ng-star-inserted">
                <b _ngcontent-bkn-c189="" class="ng-tns-c179-45">Last Period</b></th>
        </tr>

        <tr
            class="  mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
            <td class="stat-row-one">Outbound Customer Messages</td>
            <td class="stat-row">{{shop_stats.current.outboundCustomerMessages}}</td>
            <td class="stat-row">{{shop_stats.previous.outboundCustomerMessages}}</td>
        </tr>
        <tr
            class=" mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
            <td class="stat-row-one">Inbound Customer Messages</td>
            <td class="stat-row">{{shop_stats.current.inboundCustomerMessages}}</td>
            <td class="stat-row">{{shop_stats.previous.inboundCustomerMessages}}</td>
        </tr>
        <tr
            class="  mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
            <td class="stat-row-one">Forwarded Messages</td>
            <td class="stat-row">{{shop_stats.current.forwardedMessages}}</td>
            <td class="stat-row">{{shop_stats.previous.forwardedMessages}}</td>
        </tr>
        <tr
            class=" mat-sort-header  cdk-header-cell ng-tns-c179-44 cdk-column-status mat-column-status ng-star-inserted">
            <td class="stat-row-one">Orders Managed</td>
            <td class="stat-row">{{shop_stats.current.ordersManaged}}</td>
            <td class="stat-row">{{shop_stats.previous.ordersManaged}}</td>
        </tr>
    </table>

</div>
<div *ngIf="details?.hasOwnProperty('id')">


    <p *ngIf="details?.billing_plan?.name != 'TRIAL'" style="float:left">Billing period:
        {{details?.billingPeriodStart | date:'MMMM dd'}} to
        {{details?.billing.periodEnd | date:'MMMM dd'}}</p>
    <p *ngIf="details?.billing_plan?.name != 'TRIAL'" style="float:left"> &nbsp; -
        <b>${{details?.billing_plan?.fee}}/month </b>
    </p>
    <p style="float:right">You have used <b>{{details?.billing?.usage}}</b> of <b>{{details?.billing_plan?.credits}}</b>
        messages <span *ngIf="details?.billing_plan?.name != 'TRIAL'">for this period</span> </p>
    <mat-progress-bar mode="determinate" value="{{ (details?.billing?.usage / details?.billing_plan?.credits) * 100 }}">


    </mat-progress-bar>

    <br />
    <div class='description'>
        <b>Click one of the plans upgrade options below to increase your monthly threshold</b>

    </div>
    <br />
    <div *ngIf="plans">
        <div *ngFor="let plan of plans">
            <button mat-flat-button class="upgrade-button"
                color="{{plan.fee > details.billing_plan.fee? 'accent':'warn'}}"
                (click)="upgradePlan(plan)">{{plan.fee > details.billing_plan.fee? 'Upgrade':'Downgrade'}} to
                {{plan.name}} and get
                {{plan.credits}} messages per
                month
                for
                ${{plan.fee}}</button>
            <mat-divider></mat-divider>
        </div>
    </div>

    <br />
    <div class='description'>
        <b>How billing works</b>
        <p>
            Your plan tier dictates how many messages you can send to customers or forward to employees per billing
            period.
            Once you have have reached your limit for the month you will no longer be able to send messages and the
            system will stop forwarding
            to your subscribers. You can either wait for the next billing period or upgrade to the next tier.
            <br />
            <br />
            <u>Don't worry, even if you exhausted your allocated volume we will continue to receive and
                record
                any
                and
                all messages sent to you by customers so you should never miss their communications.</u>


        </p>
    </div>


</div>