#conversation{
    margin:5px 10px 22% 10px;
}

#closeButton{
    float:right;
    width:50px;
    height:50px;
}

#header{
    height: 50px;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
    background: white;
    z-index: 1;
    text-align: center;
}

#buffer{
    height: 50px;
}

#replyArea{
    height: 15%;
    width: 80%;
    position: absolute;
    bottom: 15%;
    left: 10%;
    background: white;
}

#reply{
    float:left;
    width:68%;
    margin-left:5%;
    resize: vertical;
}



#sendButton{
    float:right;
    width:16%;
    margin-right:5%;
}

.customer2{
    background: #99d2f3;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:left;
}
.customer{
    background: #99d2f3;
    float: left;
    border-radius: 0 10px 10px 0;
    clear: both;
    padding:7px;
}


.system2{
    background: #f9ad88;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.system{
    background: #673ab7;
    color:white;
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
    padding:7px;
}

.employee{
    background: #855bcf;
    color:white;
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
    padding:7px;
}

.employee2{
    background: #b1adef;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.employee-pending2{
    background: #ffa69d;
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
}


.employee-pending{
    background: #ffa69d;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 70px;
    width: 80%;
    float:right;
    padding:7px;
}


.forward{
    visibility: collapse;
}

.speech-bubble{

}


li {
    border: 1px solid black;
    list-style-type: none;
    margin: 2px 0;
    padding: 2px 5px;
  }
  .him {
    float: left;
    border-radius: 0 10px 10px 0;
    clear: both;
  }
  .me {
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
  }
  .him.start {
    border-top-left-radius: 10px;  
  }
  .him.end {
    border-bottom-left-radius: 10px;  
  }
  .me.start {
    border-top-right-radius: 10px;  
  }
  .me.end {
    border-bottom-right-radius: 10px;  
  }