#conversation{
    margin: 0px;
    float:left;
    overflow-y: auto;
    height: 400px;
    padding: 5px;
    width: 100%;
}

#closeButton{
    float:right;

}

.chat-header{
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:18px;
    font-weight: 500;
}

#header{
    height: 50px;   
    
    top: 15%;
    left: 10%;
    background: white;
    z-index: 1;
    text-align: center;
}

#buffer{
    height: 10px;
}

#replyArea{
    height: 15%;        
    bottom: 15%;
    left: 10%;
    background: white;
    padding-top:20px;
}

#reply{
    float:left;
    width:68%;
    margin-left:5%;
    resize: vertical;
    margin-top:20px;
    height:22px;
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:16px
}



#sendButton{
    width:16%;
    margin-top:15px;
    float: right;
    margin-right: 16px;
}

.customer2{
    background: #99d2f3;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:left;
}
.customer{
    background: #99d2f3;
    float: left;
    border-radius: 0px 20px 20px 0px;
    clear: both;
    border:0px;
    padding:7px;
}


.system2{
    background: #f9ad88;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.system{
    background: #673ab7;
    color:white;
    float: right;
    border-radius: 20px 0px 0px 20px;
    clear: both;
    border:0px;
    padding:7px;
}

.employee{
    background: #855bcf;
    color:white;
    float: right;
    border-radius: 20px 0px 0px 20px;
    clear: both;
    padding:7px;
    border:0px;
}

.employee2{
    background: #b1adef;
    position: relative;
    border-radius: .4em;
    margin-bottom: 20px;
    min-height: 20px;
    width: 80%;
    float:right;
}

.employee-pending2{
    background: #ffa69d;
    float: right;
    border-radius: 20px 0px 0px 20px;
    clear: both;
}


.employee-pending{
    background: darkgray;
    color:white;
    float: right;
    border-radius: 20px 0px 0px 20px;
    clear: both;
    padding:7px;
    border:0px;
}


.forward{
    display:none;
}

.speech-bubble{
    margin-bottom: 20px;
    width: 80%;
    min-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}


li {
    border: 1px solid black;
    list-style-type: none;
    margin: 2px 0;
    padding: 2px 5px;
  }
  .him {
    float: left;
    border-radius: 0 10px 10px 0;
    clear: both;
  }
  .me {
    float: right;
    border-radius: 10px 0 0 10px;
    clear: both;
  }
  .him.start {
    border-top-left-radius: 10px;  
  }
  .him.end {
    border-bottom-left-radius: 10px;  
  }
  .me.start {
    border-top-right-radius: 10px;  
  }
  .me.end {
    border-bottom-right-radius: 10px;  
  }

  .message-window{
      width:450px;
      height:500px;
  }

  
HTML
SCSS
.scrollbar {
margin-left: 30px;
float: left;
height: 300px;
width: 100%;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}
.force-overflow {
min-height: 450px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#673ab7; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #673ab7; 
}