<span [matMenuTriggerFor]="menu"
    [ngClass]="messageUpdateService.unreadMessages ? 'newMessage material-icons icon' : 'oldMessage material-icons icon'"
    aria-hidden="false" matBadge="!" [matBadgeHidden]="!messageUpdateService.unreadMessages" matBadgePosition="after"
    matBadgeColor="accent">
    message
</span>
<mat-menu #menu="matMenu" class="notification-menu">
    <mat-card *ngFor="let conversation of messages" (click)="openChat(conversation)"
        [ngClass]="conversation.newMessageAvaliable ? 'notification-card new-message' : 'notification-card'">
        <p>{{conversation.phone | phoneFormat}}<b> @ </b>{{conversation?.conversation?.lastInbound |  date:'short'}}
        </p>
        <p><b>Last message: </b>{{conversation?.conversation?.lastInboundMessage}}</p>
    </mat-card>
    <mat-divider></mat-divider>
</mat-menu>