.details-window{
    width:550px;
    height:750px;
}

.details-header{
   
}

.header{
    width:100%;
    
}

#header{
    height: 65px;
}

.convo-button{
    margin:5px;
}


#closeButton{
    float:right;
}

#closeButton span{
padding-top:0px;
padding-left:0px;
}

.order-detail-value{
    float:right;
    
}

.order-detail-row{
    padding: 10px;
}