<mat-card style="max-width: 1200px; margin:auto">
  <div>
    <img src="{{imgSrc}}images/logo-curbby.png" width="250px;">
    <span class="example-spacer"></span>
    <div dir="rtl" class="icon">
      <span [matMenuTriggerFor]="menu" class="material-icons icon" aria-hidden="false" aria-label="Example delete icon"
        matBadge="!" matBadgePosition="after" matBadgeColor="accent">
        message
      </span>
      <mat-menu #menu="matMenu" dir="rtl" class="notification-menu">
        <mat-card onClick="console.log('here')" class="notification-card new-message">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card new-message">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card new-message">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card onClick="console.log('here')" class="notification-card">
          <p>+1 234 234 2234<b> @ </b> 1/1/2020 12:43:12</p>
          <p><b>Last message: </b>Hi there, can you hear me111</p>
        </mat-card>
        <mat-card onClick="console.log('here')" class="notification-card-button">
          <p>See more</p>
        </mat-card>
      </mat-menu>
    </div>
  </div>
  <mat-tab-group [hidden]="!server.shop_details_data?.hasOwnProperty('id')">
    <mat-tab label="Order Communications">
      <app-order-list></app-order-list>
    </mat-tab>
    <mat-tab label="Message Templates">
      <app-templates></app-templates>
    </mat-tab>
    <mat-tab label="Settings">
      <app-settings></app-settings>
    </mat-tab>
    <mat-tab label="Billing">
      <app-billing></app-billing>
    </mat-tab>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>


  </mat-tab-group>
</mat-card>

<div class="loading-image" [hidden]="server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_web_shopping_dd4l.svg">
  <h4>Please visit through the Shopify Store</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
</div>

<div class="loading-image" [hidden]="server.shop_details_data?.hasOwnProperty('id') || !server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_fast_loading_0lbh.svg">
  <h4>Hang on while we fetch your data...</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>