<app-side-menu (pageNav)="goToPage($event)" fxFlex="1 1 auto" class="side-menu"></app-side-menu>
<mat-card *ngIf="server.shop_details_data.hasOwnProperty('id')" style="max-width: 1200px; margin:auto" class="banner">
  You are currently on the <b>{{server.shop_details_data.billing_plan.name}}</b> plan
</mat-card>
<mat-card [hidden]="selectedIndex==3" style="max-width: 1200px; margin:auto" class="banner">
  <app-banner (switchTab)="goToPage($event)"></app-banner>
</mat-card>
<mat-card style="max-width: 1200px; margin:auto">
  <div>
    <img src="{{imgSrc}}images/logo-sms-dispatch.png" width="180px;">
    <span class="example-spacer"></span>
    <app-message-menu></app-message-menu>
  </div>
  <app-order-list [hidden]="!orders" (switchTab)="goToPage($event)"></app-order-list>
  <app-templates [hidden]="!templates"></app-templates>
  <app-settings [hidden]="!settings"></app-settings>
  <app-billing [hidden]="!billing"></app-billing>
  <app-login [hidden]="!login" (switchTab)="goToPage($event)"></app-login>
</mat-card>

<div class="loading-image" [hidden]="server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_web_shopping_dd4l.svg">
  <h4>Please visit through the Shopify Store</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
</div>

<div class="loading-image" [hidden]="server.shop_details_data?.hasOwnProperty('id') || !server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_fast_loading_0lbh.svg">
  <h4>Hang on while we fetch your data...</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="loading-image"
  [hidden]="!server.shop_details_data?.hasOwnProperty('active') || server.shop_details_data?.active">
  <img class="splash-image" src="{{imgSrc}}images/undraw_fast_loading_0lbh.svg">
  <h4>The app is not active on this account</h4>
  <!--img src="ass  ets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>