<mat-card style="max-width: 1200px; margin:auto" class="banner">
  You are currently on the <b>{{server.shop_details_data.billing_plan.name}}</b> plan
</mat-card>
<mat-card [hidden]="selectedIndex==3" style="max-width: 1200px; margin:auto" class="banner">
  <app-banner (switchTab)="goToTab($event)"></app-banner>
</mat-card>
<mat-card style="max-width: 1200px; margin:auto">
  <div>
    <img src="{{imgSrc}}images/logo-sms-dispatch.png" width="180px;">
    <span class="example-spacer"></span>
    <app-message-menu></app-message-menu>
  </div>
  <mat-tab-group #tabs (click)="tabSelected()" [hidden]="!server.shop_details_data?.hasOwnProperty('id')">
    <mat-tab label="Order Communications">
      <app-order-list></app-order-list>
    </mat-tab>
    <mat-tab label="Message Templates">
      <app-templates></app-templates>
    </mat-tab>
    <mat-tab label="Settings">
      <app-settings></app-settings>
    </mat-tab>
    <mat-tab label="Billing">
      <app-billing></app-billing>
    </mat-tab>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </mat-tab-group>
</mat-card>

<div class="loading-image" [hidden]="server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_web_shopping_dd4l.svg">
  <h4>Please visit through the Shopify Store</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
</div>

<div class="loading-image" [hidden]="server.shop_details_data?.hasOwnProperty('id') || !server.authenticated">
  <img class="splash-image" src="{{imgSrc}}images/undraw_fast_loading_0lbh.svg">
  <h4>Hang on while we fetch your data...</h4>
  <!--img src="assets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="loading-image"
  [hidden]="!server.shop_details_data?.hasOwnProperty('active') || server.shop_details_data?.active">
  <img class="splash-image" src="{{imgSrc}}images/undraw_fast_loading_0lbh.svg">
  <h4>The app is not active on this account</h4>
  <!--img src="ass  ets/img/rocket.png" width="500px">
  <h4>Hang on while we prepare for blastoff...</h4-->
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>