.splash-image{
    width:100%;
}

.icon{
    float:right;
    margin-top:20px;    
    margin-right:15px;
    color:#673ab7;
    font-size: 25px;
    cursor: pointer;
}

.notification-card{
 font-size:12.5px;
 text-align: left;
 width:94.6%;
 margin: 0px;
 padding: 10px;
 border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom:1px;
    cursor: pointer;
}

.new-message {
    color:white;
    background-color: #673ab7;
    border-bottom-color: white;
}

.notification-card-button{
    font-size:15px;
    
 text-align: center;
 width:94.6%;
 margin: 0px;
 padding: 10px;
 border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color:white;
    background-color: #673ab7;
    cursor: pointer;
}