/* You can add global styles to this file, and also import other style files */
[hidden] { display: none !important;}

.center-float-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-float-div > mat-card{
    width:400px;
}
.full-width{
    width:100%;
}
.custom-card{        
    width:90%;
}
 
.card-icon{
    background-size: cover;
    font-size: 28px;
}

table,  mat-paginator{
  width: 95%;
  margin: auto;
}

.example-container{
  overflow: auto;
  margin-top:20px;
}

.dialog-input{
    width:100%;
}

.dialog-container{
    width:600px;
}

.dialog-button{
    width:50%;
}

.filter-button{
    width:100%;
} 

.refresh-button{
    padding: 5px;
    width: 100%;
    margin-top:5px;
}


.dot{
  background-color: #bbb;
  fill: #673ab7;
  stroke: none;
}

.line{
  fill: none;
  stroke: #673ab7;
  stroke-width: 3px;
}

.chart-svg{
    width:100%;
}

.control-input{
    width:70%;
}

.control-button{
    width:30%;
}


.overlay {
    fill: none;
    pointer-events: all;
    stroke-width: 0px;
}

.focus circle {
    fill: #673ab7;
}
.focus text {
    font-size: 12px;
    color: white;
}

.tooltip {
    fill: #673ab7;
    stroke: white;
    color: white;
}

.tooltip-date, .tooltip-likes{
    fill: #673ab7;
    stroke: white;
    color: white;
    font-weight: light;
    stroke-width: .6px;
}
   

.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

input{
    width: -webkit-fill-available;
    margin-top:18px;
    margin-bottom:18px;
    margin-right:10px;
    margin-left:10px;
    font-size: large;
    border-top:none;
    border-right:none;
    border-left:none;
}


textarea{
    width:100%;
    height:50px;
    font-size: large;
    margin:8px;
}

body {
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;font-size:16px
}

.model-header{
    text-align: center;
    font-weight: 500;
}

.example-form {
    height: 200px;   
    width: 400px;
   }

   .section-header2{
       padding-top:10px;
    padding-left: 50px;
    font-weight: 500;
   }

   .section-header{    
 padding-left: 50px;
 font-weight: 500;
}

.refreshPage{
    float:right;
    margin-bottom:20px !important;    
}

.input-div{
    margin:25px 10px 25px 10px;
    clear: both;
}

.text-field{
    font-size: large;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-size:16px !important;
    padding:10px;
}